<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{{ static_url("chatroom.css") }}" type="text/css"/>
</head>
<body>
    <h3>Chat!</h3>
    <div class="nav">
        <b>{{ current_user["name"] }}</b> -
        <a href="/auth/logout">{{ _("Sign out") }}</a>
        <input name="username" type="hidden" value="{{ current_user["name"] }}">
    </div>
    <div class="content">
        <div id="log">
            {% for message in messages %}
            <span class="time_font">{{message[2]}}</span>
            <br>
            {{message[0]}}:{{message[1]}}
            <br>
            {% end %}

        </div>
        <div id="user">
            {% for client in clients %}
            <div id="{{id(client)}}">{{client.name}}</div>
            {% end %}
        </div>
    </div>
    <div class="input">
        <form id="chatform">
        <input id="text" type="text" />
        <input type="submit" />
    </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="{{ static_url("chatroom.js") }}" type="text/javascript"></script>
</body>
</html>

